<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Regression" verbose="1" >
    <test name="Reqres GETs test" >
        <classes>
            <class name="ReqresTests.GetListUsersBodyTests"/>
            <class name="ReqresTests.getListUsersHeaderTests"/>
        </classes>
    </test>
</suite>